h2 {
    text-transform: uppercase;
}

.container_child {
    width: 40%;
    height: 300px;
    float: left;
    
    padding: 0px;
    margin: 2px;
    border: 1px solid red;
}

.container_child_child {
    width: 40%;
    height: 100px;
    margin: 1px;
    float: left;
   
    padding: 0px;
    padding-bottom: 20px;
    border: 1px solid red;
}

#redbox {
    background-color: red;
}

#bluebox {
    background-color: blue;
}

#greenbox {
    background-color: green;
}

#yellowbox {
    background-color: yellow;
}

#fontBox > * > h3 {
    font-size: 30px;
}

#arialbox {
    font-family: Arial;
}

#calibribox {
    font-family: Calibri;
}

#helveticabox {
    font-family: Helvetica;
}

#segoebox {
    font-family: Segoe;
}

#skeuomorphismBox {
    text-align: center;
    background-color: brown;
}

#skeuomorphismBox a {
    text-decoration: none;
    display: block;
    position: relative;
    top: 50px;
}

#skeuomorphismBox:hover {
    text-align: center;
    background-color: white;