body {
    background-image: url(../../media/tablebackground.jpeg);
}
table {
    font-family: 'Playfair Display', serif;
    text-align: center;
    line-height: 3;
    font-size: .5;
    overflow: hidden;
    /* width: 45%;
    min-width: 250px;
    max-width: 500px; */
}
th {
    border: 4px dotted rgba(161, 132, 52, 0.702);
}
td {
    border: 2px solid burlywood;
    font-weight: bolder;
    padding: 4px;
}
tr {
    padding: 2%;
}